PORT=4001
DB_USER=postgres
DB_HOST=localhost
DB_NAME=_api_revistas
DB_PASSWORD=postgres
DB_PORT=5432
JWT_SECRET=supersecretkey
PORTADAS_PATH=../back/public/portadas
VITE_IMAGE_BASE_URL=https://directorio.minaamp.gob.ve/api/portadas/
